# SmartCart: An Intelligent Meal Planning and Grocery Integration Platform

# Database (Render Postgres)
DATABASE_URL=jdbc:postgresql://HOST:5432/DATABASE_NAME
DATABASE_USERNAME=your_db_username
DATABASE_PASSWORD=your_db_password

# Google Gemini
GEMINI_API_KEY=

# Instacart Developer Platform
INSTACART_CLIENT_ID=
INSTACART_CLIENT_SECRET=

